* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --background: rgb(187, 187, 187);
    --text-header: rgb(70, 69, 69);
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--background);
    border-radius: 15px;
    margin: 0;
}
.header {
    /* display: fixed;
    top: 0; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    height: 150px;
    margin: 0;
    background-color: var(--text-header);
    /* border-radius: 15px; */
    color: white;
}
#title {
    text-align: center;
    font-size: 2.5rem;
}
.text {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    color: white;
}
#img-div {
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
#image {
    /*width: 100%;*/
    display: block;
    max-width: 600px;
    height: auto;
    margin: 0;
}
#img-caption {
    font-size: 12px;
    background-color: white;
    color: var(--text-header);
}
#tribute-info {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.timeline {
    font-size: 24px;
    color: var(--text-header);
}
.list-items {
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    color: var(--text-header);
}
strong {
    color: rgb(70, 69, 69);
    line-height: 40px;
    border-bottom: 2px var(--text-header) solid;
    font-weight: 400;
}
sup {
    font-size: 11px;
}
em {
    color: var(--text-header);
}
p {
    color: var(--text-header);
}
.quote {
    text-align: right;
    font-size: 32px;
    margin: 10px;
    color: var(--text-header);
}
.strong-quote {
    border-bottom: 0;
    color: var(--text-header);
    font-weight: 600;
}
.more-info {
    margin: 10px;
}
#tribute-link {
    font-size: 18px;
    background-color: auto;
    text-decoration: none;
    color:  rgb(163, 70, 250);
    padding: 15px 0;
}
#tribute-link:hover {
    color: rgb(133, 11, 247);
}